<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/cabecera.css">
  </head>
  <body>
    <header>
      <div class="cabecera">
        <div>
        <img class='imagenLogo' src="/imagenes/logo.png" alt="Logo institucion"></img>
        </div>
        <div class="contenido">
        <div class="titulo">
          <label class="titulo1">GRUPO ESPECIAL DE OPERACIONES DE SALVAMIENTO</label>
        </div>
          <div class="botones">
              <button class="botonCabecera1">
                AÑADIR VOLUNTARIO
              </button>
              <button class="botonCabecera">
                PUBLICAR
              </button>
              <button class="botonCabecera">
                VOLUNTARIOS
              </button>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
