<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/cabecera.css">
  </head>
  <body>
    <header>
      <div class="cabecera">
        <div>
          <img class='imagenLogo' src="/imagenes/logo.png" alt="Logo institucion"></img>
        </div>
        <div class="contenido">
          <div class="titulo">
            <label class="titulo1">GRUPO ESPECIAL DE OPERACIONES DE SALVAMIENTO</label>
          </div>
          <div class="botones">
            <button class="botonCabecera1" onclick="window.location.href = '/home'">
              INICIO
            </button>
            <button class="botonCabecera1" onclick="window.location.href = '/publicacion'">
              PUBLICAR
            </button>
            <button class="botonCabecera" onclick="window.location.href = '/voluntarios'">
              VOLUNTARIOS
            </button>
            <button class="botonCabecera" onclick="window.location.href='/eventos'">
              EVENTOS
            </button>
            <button class="botonCabecera" onclick="window.location.href='/comunicados'">
              COMUNICADOS
            </button>
          </div>
        </div>
      </div>
    </header>
 

