<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/eventos.css">
  <script src="/eventos.js"></script>
</head>
<body>
  <%- include('cabecera.ejs') %>
  <div class="App">
    <div class="titulo2">
      <label>EVENTOS</label>
    </div> 
  </div>
</body>
</html>
