<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" type="text/css" href="/styles.css">
<body>
   <%- include('cabecera.ejs') %>
    <div class="home">
    <label class="entrada">BIENVENIDO!</label>
    </div>


</body>
</html>