<!DOCTYPE html>
<html>
	<html lang="es">
    <head>
        <meta charset="utf-8">
        <title> INICIA SESION </title>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
        <br>
        <link rel="stylesheet" href="/login.css">
        <script src="/login.js"></script>  
        <style type="text/css"> </style>  
    </head>
    <body> 
      <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        Bienvenido
                    </div>
                    <form id="loginform">
                        <input id="codigo" type="text" name="codigo" placeholder="Codigo de Voluntario" required>
                        
                        <input id="password" type="password" placeholder="Contraseña" name="password" required>
                        
						<div class="botones3">
							<button type="submit"  onclick="login()">Entrar</button>
						  </div>
                </div>
            </div>
        </div>       
    </body>
</html>
