<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../views/styles.css">

<div class="App">
    <div>
    </div>
    <div class="titulo2">
      <label>NUEVA PUBLICACION</label>
    </div>
    <div class="contenidoPrincipal">
      <div class="datos">
        <label class="argumento">Nombre:</label>
        <label class="argumento">Descripcion:</label>
        <label class="argumento">Tipo de publicacion:</label>
        <label class="argumento">Cantidad de voluntarios:</label>
      </div>
      <div class="inputs">
        <input />
        <input />
        <input />
        <input />
      </div>
    </div>
    <div class="botones3">
      <button class="botonPublicar">Publicar</button>
    </div>
  </div>
</html> 
