<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<title>Registro</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <script src="/voluntario.js"></script>
	</head>
	<body>
        <%- include('cabecera.ejs') %>

        <div class="App">
          <div class="titulo2">
            <label>REGISTRAR</label>
          </div>
	
        
        <div class="contenidoPrincipal">
          <div class="datos">
            <label class="argumento">Codigo de Voluntario:</label>
            <label class="argumento">Nombre de Usuario:</label>
            <label class="argumento">Contraseña:</label>
          </div>
          <div class="inputs">
            <input id="codigo" name="codigo" class="codVoluntario" />
            <input id="nombre" name="nombre" class="nombreU" />
            <input id="contrasenia"name="contrasenia" class="contraseniaU" />
          </div>      
        </div>
        <div>
        <div class="botones3">
          <button class="botonGuardar" onclick="guardar()">GUARDAR</button>
        </div>
        <div class="botones4">
          <button class="botonCancelar" onclick="cancelar()">CANCELAR</button>
        </div>
    </div>
      </div>
	</body>
</html>