<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/verVoluntario.css">
  <script src="/voluntario.js"></script>
</head>
<body>
  <%- include('cabecera.ejs') %>

  <div class="App">
    <div class="titulo2">
      <label>VOLUNTARIOS</label>
    </div> 
    <div class="contenidoPrincipal">
      
    <div id="voluntariosContainer" class="=voluntariosContainer">
      <div class="voluntariosContaine2">
        <table id="userTable">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>Contraseña</th>
              <th>Acciones</th> <!-- Nueva columna para el botón de eliminación -->
            </tr>
          </thead>
          <tbody>
            <!-- Aquí se agregarán las filas de usuarios -->
          </tbody>
        </table>
      </div>
      <div class="botones3">
        <button class="botonPublicar" onclick="recuperarUsuarios2()">RECUPERAR USUARIOS</button>
      </div>
      <button><a href="/register" class="btn">Agregar un nuevo Voluntario</a></button>
    </div>
  </div> 
</div>
</div>
</body>
</html>