<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/verVoluntario.css">
  <script src="/publicacion.js"></script>
</head>
<body>
  <%- include('cabecera.ejs') %>

  <div class="App">
    <div class="titulo2">
      <label>VOLUNTARIOS</label>
    </div> 
    <div id="voluntariosContainer" class="=voluntariosContainer"></div> 
      <table class="default">

        <tr>
          <th>Numero</th>

          <th>Codigo Voluntario</th>
      
          <th>Nonmbre Voluntario</th>
      
          <th>Contrasenia</th>
      
        </tr>
      
        <tr>
      
          <td>1</td>
      
          <td>2</td>
      
          <td>3</td>
          <td>4</td>
      
        </tr>
      
        <tr>
      
          <td>1</td>
      
          <td>2</td>
      
          <td>3</td>
          <td>4</td>
      
        </tr>
      
        <tr>
      
          <td> 1</td>
      
          <td> 2</td>
      
          <td>3</td>
          <td>4</td>
      
        </tr>
        <tr>
      
          <td> 1</td>
      
          <td> 2</td>
      
          <td>3</td>
          <td>4</td>
      
        </tr>
      
      </table>
      <button><a href="/register" class="btn">Agregar un nuevo Voluntario</a></button>
    </div> 
  </div>
      
</body>
</html>